header{
    border:2px solid black;
    width: 960px;
    margin:auto;
}
img{
    border:2px solid black;
}
#big{
    display:block;
    margin: auto;
}
#small{
    display:inline;
}
div{
    display: inline;
    width: 960px;
    margin-left:382px;
}
p{
    display:inline-block;
    width: 510px;
}
nav ul li{
    display: inline-block;
}